[submodule "tmux/.config/tmux"]
	path = tmux/.config/tmux
	url = https://github.com/meicale/tmux_config.git
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/meicale/pe.git
	branch = wsl
